.password-forgot-change-main {
  padding-top: 160px;
}

.password-forgot-change {
  min-height: calc(100vh - 111px);
  padding-top: 160px;
  background-image: url("/public/images/main.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
