.create-post-main {
  min-height: calc(100vh - 111px);
  background-image: url("/public/images/main.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

